@charset "UTF-8";

body{
    background-color:lightslategray;
}

.box{
	
	border:1px solid lightgray;
	width:400px;
	margin:20px auto;
	padding:20px;
	border-radius:20px;
	background-color:white;
	
	
	
	/* transition:.5sec;
	 */
}

 .box:hover{
   /*  transform: rotate(3deg); */
    
    
    border:1px solid white;
    box-shadow: 4px 6px 8px 6px #eee;
    font-size:20px;
} 